<template name="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ pathFor 'wellcome' }}">The product</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navbar">
        <ul class="nav navbar-nav">
          <li data-toggle="tooltip" title="Show your orders">
            <a class="{{isActiveRoute 'clients'}}"
               href="{{pathFor route='clients'}}">
              Clients
            </a>
          </li>
          <li data-toggle="tooltip" title="Show your orders">
            <a class="{{isActiveRoute 'orders'}}"
               href="{{pathFor route='orders'}}">
              Orders
            </a>
          </li>
        </ul>
	      <ul class="nav navbar-nav navbar-right">
          {{ > loginButtons}}
	      </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
